{
  "contract": {
    "name": "Dizzy Token",
    "symbol": "DZN",
    "address": "<YOUR_TOKEN_ADDRESS>"
  },
  "abi": [{"constant":true,"inputs":[],"name":"totalSupply","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"name":"who","type":"address"}],"name":"balanceOf","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"to","type":"address"},{"name":"value","type":"uint256"}],"name":"transfer","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"anonymous":false,"inputs":[{"indexed":true,"name":"from","type":"address"},{"indexed":true,"name":"to","type":"address"},{"indexed":false,"name":"value","type":"uint256"}],"name":"Transfer","type":"event"}],
  "web3": {
    "host": "http://localhost:8545"
  },
  "slack": {
    "token": "<YOUR_SLACK_TOKEN>",
    "botId": "<YOUR_BOT_ID>",
    "channelId": "<YOUR_CHANNEL_ID>"
  }
}
