{
  "eth": {
    "contracts": [
      {
        "name": "Dizzy Token",
        "symbol": "DZN",
        "decimals": 2,
        "address": "<DEPLOYED_TOKEN_ADDRESS>"
      }
    ],
    "web3": {
      "host": "<WEB3_PROVIDER_HOST>"
    }
  }
}
